.img-circle {
    width: 80px;
    height: 80px;
    margin-left:20px;
    margin-bottom: 50px;
}

.card-title {
    background: black;
    text-align: center;
    font-size: 28px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 398px;
    
}

.card {
    width: 400px;
    height: 150px;
}
.img-thumbnail {
    width: 80px;
    height: 80px;
    margin-left:20px;
    margin-bottom: 50px;
}

body {
    background: gold;
}

.card-body {
    background: gray;
    
}



